@charset "UTF-8";
.button,
figure,
label,
nav {
  -webkit-user-select: none;
}
.form__input,
main {
  -webkit-box-flex: 1;
}
.form__item,
.form__message,
body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.button,
.ionline:before,
.search__input,
.stars,
input + i {
  vertical-align: middle;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes a_pullx {
  0% {
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
  }
  40% {
    -webkit-transform: scale(1.02, 1);
    transform: scale(1.02, 1);
  }
  60% {
    -webkit-transform: scale(0.98, 1);
    transform: scale(0.98, 1);
  }
  80% {
    -webkit-transform: scale(1.01, 1);
    transform: scale(1.01, 1);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes a_pullx {
  0% {
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
  }
  40% {
    -webkit-transform: scale(1.02, 1);
    transform: scale(1.02, 1);
  }
  60% {
    -webkit-transform: scale(0.98, 1);
    transform: scale(0.98, 1);
  }
  80% {
    -webkit-transform: scale(1.01, 1);
    transform: scale(1.01, 1);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.irange,
a,
label {
  -webkit-tap-highlight-color: transparent;
}
.youtube,
a {
  max-width: 100%;
}
.center,
.center p,
.no-js,
.pagetitle__h1,
.pagetitle__subtext {
  text-align: center;
}
.button,
.irange__range,
.re__button,
.regulation__button,
.search-list__item,
label {
  cursor: pointer;
}
.button_send,
.irange__fill,
.modal {
  pointer-events: none;
}
.breadcrumbs,
.menu {
  white-space: nowrap;
}
.modal,
.nav__menu {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}
.filter__list,
.fmenu,
.hsupport,
.iaddress-list,
.info-list,
.search-list,
main ul {
  list-style: none;
}
.card__img,
.group__img {
  image-rendering: -webkit-optimize-contrast;
}
[class*=" icon-"]:before,
[class^="icon-"]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-js,
b,
strong,
th {
  font-weight: 500;
}
.icon-heart:before {
  content: "\e7fe";
}
.icon-down-open-big:before {
  content: "\e800";
}
.icon-home-1:before {
  content: "\e801";
}
.button_call:before,
.icon-phone:before {
  content: "\e802";
}
.icon-calendar:before {
  content: "\e803";
}
.icon-headphones:before {
  content: "\e804";
}
.icon-credit-card:before {
  content: "\e805";
}
.icon-book:before {
  content: "\e806";
}
.icon-help-circled:before {
  content: "\e807";
}
.icon-star:before {
  content: "\e808";
}
.icon-star-empty:before {
  content: "\e809";
}
.icon-attention-circled:before {
  content: "\e80a";
}
.icon-search:before {
  content: "\e80b";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-star-half-alt:before {
  content: "\f123";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-soccer-ball:before {
  content: "\f1e3";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-television:before {
  content: "\f26c";
}
.icon-facebook-squared:before {
  content: "\f308";
}
.ionline:before,
.youtube:empty:before,
main ul li:before {
  content: "";
}
.youtube {
  margin: 20px auto 0;
}
.youtube:empty:before {
  display: block;
  padding-bottom: 56%;
  background: url(/images/preloader.svg) center no-repeat;
}
.ajax__more.ajax__more_last,
.js-no .js,
.js-yes .crsl__item + .crsl__item,
.js-yes .nojs {
  display: none;
}
.flickity-slider .crsl__item + .crsl__item {
  display: block;
}
.h1,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
h1,
input,
ins,
label,
mark,
ol,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
figure,
label,
nav {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
::selection {
  color: #fff;
  background-color: #ff4e00;
}
p {
  margin: 0 0 1em;
}
mark {
  background: 0 0;
  color: #ff4e00;
}
a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
}
a,
a:focus,
a:hover {
  outline: 0;
}
main {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  background-color: #fff;
  padding-bottom: 3rem;
}
.form__message,
body {
  -ms-flex-direction: column;
}
main a {
  color: #337ab7;
}
.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 808px;
}
.error {
  background-color: #a94442;
  color: #fff;
}
.phone {
  color: currentColor;
}
.ajax__more {
  display: block;
  width: 200px;
  margin: auto;
}
.no-js {
  position: fixed;
  z-index: 999999;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: red;
  padding: 10px;
  opacity: 0.9;
}
.re,
.regulation {
  z-index: 999;
  left: 10px;
  bottom: 0;
}
.breadcrumbs {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: normal;
  line-height: 30px;
  padding: 0 1rem;
}
.article,
.breadcrumbs,
.container_shop,
.re__text,
.table {
  overflow: hidden;
}
.re__text,
.table {
  -webkit-overflow-scrolling: touch;
}
.breadcrumbs::-webkit-scrollbar {
  height: 4px;
}
.breadcrumbs::-webkit-scrollbar-button {
  width: 0;
}
.breadcrumbs::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.breadcrumbs__last {
  display: none;
}
.regulation {
  position: fixed;
  background-color: #fff;
  padding: 20px 45px 5px 20px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
  font-size: 0.8em;
  color: #000;
}
.regulation__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  color: #ff4e00;
  font: 700 36px/0.5 serif;
}
.form,
.form__item,
.irange,
.yac {
  position: relative;
}
body,
th {
  color: #333;
}
.yamap {
  height: 70vh;
  max-height: 400px;
  background: url(/images/preloader.svg) center no-repeat;
}
ymaps input {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.yac {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  display: block;
  top: 5px;
}
.more + *,
.show {
  -webkit-animation: show 0.3s;
  animation: show 0.3s;
}
[data-src]:not(.img_show):not(.img_p):not(.img_h) .js-no,
input:checked + .more,
input:checked + .program .program__label,
input:not(:checked) + .more + * {
  display: none;
}
.sshow {
  opacity: 0;
}
.sshow .js-no,
.sshows > * .js-no,
body {
  opacity: 1;
}
.sshow-show,
.sshows .sshow-show {
  opacity: 1;
  -webkit-animation: show 0.3s;
  animation: show 0.3s;
}
.form_no-success .form__main,
.form_success .form__main,
.iaddress-list,
.sshows > *,
[data-src]:not(.img_show):not(.img_p):not(.img_h) {
  opacity: 0;
}
.body_fixed {
  position: fixed;
  width: 100vw;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 100vh;
  font: 400 1em/1.6 Roboto, Arial, sans-serif;
  -webkit-text-size-adjust: none;
}
.breadcrumbs,
.h1,
.title,
h1,
h2,
h3,
td:only-of-type {
  font-weight: 500;
}
a:focus,
a:hover {
  text-decoration: underline;
}
[class^="icon-"]:focus,
[class^="icon-"]:hover {
  text-decoration: none;
}
.breadcrumbs {
  margin: 3rem -1rem -2rem;
  font-size: 1.5em;
}
.container_big {
  max-width: 1164px;
}
.table,
img,
table {
  max-width: 100%;
}
blockquote {
  margin: 1.3em 0;
  padding: 1rem 0 1rem 1rem;
  border-left: 4px solid #e2d4aa;
  background-color: #fff9ea;
}
blockquote h3 {
  margin: 0.3em 0;
}
.h1,
h1,
h2,
h3 {
  word-wrap: break-word;
}
.h1,
h1 {
  font-size: calc(4vw + 2vh + 1vmin);
}
h2 {
  font-size: calc(3.5vw + 1.5vh + 1vmin);
  margin: 3rem 0 1rem;
}
.h1,
.title,
h1,
h3,
hr {
  line-height: normal;
}
h3 {
  font-size: calc(3vw + 1vh + 1vmin);
  margin: 1.5rem 0 0.3em;
}
.h1,
h1,
hr {
  margin: 3rem 0;
}
hr {
  border: 0;
  border-bottom: 1px solid #eee;
}
.title {
  font-size: 1.3rem;
  margin-bottom: 2px;
}
.pagetitle {
  margin-bottom: 3rem;
}
.pagetitle_little {
  font-size: 0.85rem;
}
.pagetitle__h1 {
  margin-bottom: 0.4rem;
}
.pagetitle__subtext {
  font-size: 1.1rem;
}
table,
td {
  font-size: 0.9em;
}
table,
td:first-of-type,
th:first-of-type {
  text-align: left;
}
.pagetitle p {
  margin-bottom: 0;
}
main ol,
main ul {
  margin: 1.6rem 0 1.4rem;
  padding-left: 2.2rem;
}
main li {
  margin: 0 0 0.6em;
}
main ul li:before {
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #222;
  margin: 0.6em 0 0 -1.1rem;
}
@supports ((-o-object-fit: none) or (object-fit: none)) {
  [data-src]:not(.img_show):not(.img_p):not(.img_h) {
    opacity: 1;
    -o-object-fit: none;
    object-fit: none;
  }
}
.img_show {
  height: auto;
  -webkit-animation: show 0.3s;
  animation: show 0.3s;
}
.img_p {
  -webkit-transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  -webkit-animation: none;
  animation: none;
}
.img_p[data-src] {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.img_h:not(.img_show) {
  opacity: 0 !important;
  -webkit-animation: none;
  animation: none;
}
[data-bk] {
  background-image: url(/images/preloader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
[data-bk].bk_h,
[data-bk].bk_hero {
  background-image: url(/images/nobk.png) !important;
}
.js-no [data-bk] {
  background: 0 0;
}
.bk_h,
.bk_hero {
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
}
.table {
  overflow-x: auto;
  display: inline-block;
  margin: 0 -1rem 1rem;
  padding: 0 0 1px 2rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.table::-webkit-scrollbar {
  height: 4px;
}
.table::-webkit-scrollbar-button {
  width: 0;
}
.table::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.table tbody,
.table thead {
  -webkit-transform: translateX(-1rem);
  transform: translateX(-1rem);
}
td,
th {
  padding: 5px;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #ebebeb;
  box-shadow: 0 0 0 1px #ebebeb;
}
th {
  background-color: #ebebeb;
}
td {
  color: #777;
}
td:first-of-type {
  color: #333;
  font-size: 1em;
}
.table td {
  min-width: 100px;
}
.re {
  position: fixed;
  background-color: #fff;
  right: 10px;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
  font-size: 0.8em;
  color: #000;
}
.re__text {
  overflow-y: auto;
  max-height: 30vh;
  margin: 0;
  padding: 20px 45px 20px 20px;
}
.grey,
.modal__form,
textarea {
  overflow: hidden;
}
.re__text::-webkit-scrollbar {
  display: none;
}
.re__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  color: #ff4e00;
  font: 700 36px/0.5 serif;
}
.button,
.form {
  font-size: 15px;
}
.red {
  color: #a94442;
}
.col {
  padding-top: 1rem;
}
.col__item {
  margin-bottom: 1rem;
}
.grey {
  margin-top: 3rem;
  background-color: #f3f3f3;
}
.cgrey {
  color: #777;
}
.button,
.ionline:before {
  display: inline-block;
}
.ionline:before {
  height: 10px;
  border-radius: 50%;
  background-color: #00ad02;
  width: 10px;
  margin: 0 5px 2px 0;
}
.button {
  width: auto;
  margin: 10px 0;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  line-height: normal;
  color: #fff;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ff4e00;
  min-width: 120px;
  text-transform: uppercase;
  padding: 0.9em 1.6em;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.consult__users,
.form__item {
  text-align: left;
}
.button_send {
  color: transparent !important;
  background: url(/images/preloader_invert.svg) center/30px no-repeat #ff4e00;
}
.button + .button {
  margin-left: 10px;
}
.button:focus {
  background-color: #b33700;
}
.button:focus,
.button:hover {
  text-decoration: none;
  color: #fff;
}
.button_call:before {
  font-family: fontello;
  display: inline-block;
  margin-right: 0.8rem;
}
.button_two {
  background-color: #a4bcc4;
}
.button_two:focus {
  background-color: #769aa6;
}
.form {
  margin: 0 auto 10px;
}
.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 0;
  max-width: 260px;
}
.footer__info,
.form__message,
.header__figure,
.modal__close,
.nav__menu,
input + i {
  text-align: center;
}
.form__item-submit {
  padding-top: 10px;
  text-align: center;
}
.clear-ul li,
.form__label {
  margin: 0;
}
.form__star {
  margin-left: 3px;
  color: #a94442;
}
.form__input {
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #000;
  padding: 0.7em 1em;
  border: 1px solid;
}
.form__input:focus,
input:focus + i {
  background-color: #f3f3f3;
}
.form__input_name {
  text-transform: capitalize;
}
.form__input_error {
  color: #a94442;
}
.form__input_error[type="checkbox"] + i {
  -webkit-box-shadow: 0 0 0 1px #a94442;
  box-shadow: 0 0 0 1px #a94442;
}
.form__input[type="checkbox"] {
  display: block;
  position: fixed;
  z-index: -99;
  opacity: 0;
}
.form__error,
.form__message,
.iaddress-list {
  position: absolute;
  right: 0;
}
.form__error {
  z-index: 1;
  bottom: -14px;
  line-height: 1;
  padding: 0 8px 1px;
  font-size: 14px;
  color: #fff;
  background-color: #a94442;
}
.form__message {
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.form_no-success .form__message_error,
.form_success .form__message_success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__title {
  margin: 0.5rem 0 1.4rem;
}
.form__title_error {
  color: #a94442;
}
.form__text {
  display: none;
}
.form__item {
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-container:after {
  content: url(/images/preloader.svg);
  display: block;
  margin: auto;
}
.form-container_load:after,
[type="checkbox"],
[type="radio"] {
  display: none;
}
select {
  border: 1px solid #ccc;
}
textarea {
  resize: none;
  min-height: 80px;
  max-height: 30vh;
}
button,
input,
label,
select,
textarea {
  border-radius: 0;
  outline: 0;
}
[type="date"],
[type="datetime"],
[type="email"],
[type="number"],
[type="password"],
[type="submit"],
[type="tel"],
[type="text"],
button,
label,
textarea {
  -webkit-appearance: none;
}
[type="number"] {
  width: auto;
  -moz-appearance: textfield;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input + i {
  display: inline-block;
  -webkit-box-shadow: 0 0 0 1px currentColor;
  box-shadow: 0 0 0 1px currentColor;
  background-color: #fff;
  font-style: normal;
  line-height: 14px;
  color: #333;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  margin: 0 10px 3px 1px;
}
[type="checkbox"]:checked + i:before {
  content: "\2714";
  font-size: 1.3em;
}
[type="radio"] + i {
  border-radius: 50%;
}
[type="radio"]:checked + i {
  background-color: #ff4e00;
}
.form {
  width: 87vw;
}
.form__title {
  font-size: 1.3em;
  line-height: normal;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.4rem;
}
.form__label,
.form__title {
  font-weight: 500;
}
.form__input {
  font: 400 1rem Arial;
  border-radius: 4px;
}
.form__item-submit {
  border-top: 1px solid #eee;
  margin-top: 2rem;
}
.form__text {
  background-color: #dff0d8;
  color: #3c763d;
  border-radius: 4px;
  line-height: normal;
  padding: 15px;
  font-size: 0.9em;
  margin-bottom: 1.4rem;
}
.form__error {
  display: none;
}
.form__input_error {
  background-color: #fee;
}
.form__hr {
  font-weight: 500;
  margin: 10px 0 0;
}
.iaddress-list {
  -webkit-transition: z-index 0s 0.3s, opacity 0s 0.3s;
  transition: z-index 0s 0.3s, opacity 0s 0.3s;
  z-index: -2;
  top: 100%;
  left: 0;
  background-color: #fff;
  font: 400 0.74rem Arial;
  margin: 5px 0 0;
  padding: 0.5em 0;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 2px #777;
  box-shadow: 0 0 2px #777;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.block-item,
.card__name,
.cinfo__title,
.filter__title,
.group__name,
.hvideo__title,
.prog__title {
  font-weight: 500;
}
.iaddress-list:not(:empty):focus,
.iaddress:focus + .iaddress-list:not(:empty) {
  z-index: 2;
  opacity: 1;
}
.iaddress-list__item {
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
}
.iaddress-list:not(:hover) .iaddress-list__item_select,
.iaddress-list__item:hover {
  color: #fff;
  background-color: #ff4e00;
}
.irange {
  padding-bottom: 45px;
}
.irange__range {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  padding: 15px 7px;
}
.irange__fill {
  position: relative;
  height: 4px;
}
.irange__fill-in {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #ff4e00;
}
.irange__fill-in:after,
.irange__fill-in:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 14px;
  height: 14px;
  margin: -7px;
  background-color: #ff4e00;
  border: 1px solid #fff;
}
.irange__fill-in:before {
  left: 0;
}
.irange__fill-in:after {
  right: 0;
}
.irange__input {
  width: 88px;
}
.irange__fill {
  background-color: #d2d2d2;
}
.burger,
.menu__submenu,
.modal,
.modal__container,
.nav__menu {
  background-color: #fff;
}
.modal {
  position: fixed;
  bottom: 0;
  top: -160px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
  z-index: -9;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clear-ul li:before,
.modal-check {
  display: none;
}
input:checked + .modal {
  opacity: 1;
  z-index: 9999;
  pointer-events: auto;
}
.modal__container {
  position: relative;
  padding: 20px 20px 5px;
}
.modal__close {
  position: fixed;
  z-index: 2;
  top: 90px;
  right: 10px;
  font-size: 50px;
  line-height: 23px;
  font-family: serif;
}
.info-list li:before,
.issue:before,
.menu__button:before,
.stars {
  font-family: fontello;
}
.modal__form {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  max-height: 100vh;
  padding-bottom: 100px;
}
.clear,
.clear-ul,
.menu {
  padding: 0;
  margin: 0;
}
.menu::-webkit-scrollbar,
.modal__form::-webkit-scrollbar {
  display: none;
}
.clear-check {
  display: inline;
}
.hide {
  display: none;
}
.menu__item {
  display: block;
  margin: 0;
}
.menu__button {
  position: absolute;
  right: 5px;
  font-size: 20px;
  padding: 7px;
}
.menu__button:before {
  content: "\e800";
}
.body_load .lang:before,
.body_load .soc:before,
.hvideo:before,
.js-no .lang:before,
.js-no .soc:before {
  content: "";
}
input:checked + .menu__button {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu__link {
  display: inline-block;
  line-height: 27px;
  padding: 10px 1rem;
}
.card__prev,
.issue__text,
.prog__title {
  line-height: normal;
}
.menu {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  word-wrap: normal;
  font-size: 1.1em;
}
.menu__link:focus,
.menu__link:hover,
.menu__link_active {
  color: #333;
  text-decoration: none;
}
.menu__link_l2 {
  color: #337ab7;
  padding-left: 0;
  padding-right: 0;
}
.menu__link_l2:focus,
.menu__link_l2:hover,
.menu__link_l2_active {
  color: #23527c;
  text-decoration: underline;
}
.menu__submenu {
  display: none;
  margin: 0;
  padding: 0 1.5em 0.6em;
  left: 0;
  border: 1px solid #d2d2d2;
  border-radius: 0 0 5px 5px;
}
.menu__submenu_right {
  left: auto;
  right: 0;
}
.menu__text {
  margin-top: -14px;
  font-size: 0.8em;
}
.menu__item {
  position: relative;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 998;
  height: 47px;
  color: #777;
  font-size: 14px;
}
.nav__menu {
  position: fixed;
  bottom: 0;
  top: -160px;
  padding-bottom: 80px;
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
  overflow-y: auto;
  z-index: 9998;
  left: 0;
  right: 0;
  padding-top: 140px;
}
.burger,
.hvideo {
  position: relative;
}
.burger,
.nav {
  right: 0;
}
.menu__button_close,
.nav__menu {
  display: none;
}
.burger {
  z-index: 9999;
  display: inline-block;
  padding: 5px 10px 11px;
  top: 13px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.burger__line {
  display: block;
  width: 21px;
  height: 2px;
  margin: 6px auto 0;
  color: currentColor;
  background-color: currentColor;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
input:checked + .burger .burger__line:nth-child(1) {
  -webkit-transform: translate(0, 8px) rotate(45deg);
  transform: translate(0, 8px) rotate(45deg);
}
input:checked + .burger .burger__line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input:checked + .burger .burger__line:nth-child(3) {
  -webkit-transform: translate(0, 12px);
  transform: translate(0, 12px);
  opacity: 0;
}
.fmenu {
  width: 275px;
  margin: 1rem auto;
  padding: 0;
}
.fmenu__item,
footer p,
header p {
  margin: 0;
}
.fmenu__link {
  color: #337ab7;
}
.header__figure {
  font-size: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 70px;
}
.footer__menu .menu__item,
.lang:before,
.soc:before {
  display: inline-block;
  vertical-align: middle;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  max-height: 70px;
}
.header__img {
  height: 45px;
}
.header__button {
  width: 100%;
}
.footer {
  margin-top: auto;
  border-top: 1px solid #eee;
}
.footer__container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__menu {
  text-align: right;
}
.consult,
.hsupport,
.hvideo__text,
.issue__text {
  text-align: center;
}
.lang:before {
  margin: 0 7px 2px 0;
  border: 1px solid #f3f3f3;
  width: 16px;
  height: 13px;
  background: center/contain no-repeat;
}
.lang_ru:before {
  background-image: url(/images/flags/flag_ru.svg);
}
.lang_en:before {
  background-image: url(/images/flags/flag_en.svg);
}
.lang_zh:before {
  background-image: url(/images/flags/flag_cn.svg);
}
.lang_pt:before {
  background-image: url(/images/flags/flag_pt.svg);
}
.soc {
  opacity: 0.5;
}
.soc:before {
  width: 18px;
  height: 26px;
  background: center/cover no-repeat;
}
.soc_big:before {
  width: 40px;
  height: 40px;
}
.soc_in:before {
  background-image: url(/images/site/in.svg);
}
.soc_vk:before {
  background-image: url(/images/site/vk.svg);
}
.hvideo {
  height: calc(40vw);
  min-height: 80vh;
  max-height: 600px;
}
.hvideo:before,
.hvideo__video-block {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.hvideo:before {
  background: url(/images/site/video_m.jpg) top/cover #000;
}
.hvideo__video-block {
  display: none;
  overflow: hidden;
  background-color: #000;
}
.hvideo__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 100%;
  object-position: 0 100%;
  opacity: 0.5;
}
.hvideo__info {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 50px;
  right: 0;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.hvideo__text {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.hvideo__title {
  text-transform: uppercase;
  font-size: 1.8em;
  margin: 0;
}
.infobl {
  background-color: #f3f3f3;
  border-top: 4px solid #d2d2d2;
  margin-bottom: 2rem;
  padding: 1.5rem;
}
.infobl__button {
  display: block;
  margin-top: 0;
}
.infobl p,
.infobl > :last-child {
  margin-bottom: 0;
}
.infobl .title {
  margin-bottom: 2px;
}
.infobl .infobl__text {
  margin-bottom: 0.4em;
}
.issue {
  position: relative;
  font-size: 1rem;
}
.issue:before {
  content: "\e807";
  color: #777;
}
.issue__text {
  display: none;
  position: absolute;
  z-index: 9;
  left: -94px;
  top: 23px;
  width: 200px;
  background-color: #111;
  color: #fff;
  padding: 4px 7px;
  font-size: 0.85rem;
  border-radius: 5px;
  -webkit-animation: show 0.3s;
  animation: show 0.3s;
}
.block-item,
.gal__item,
.issue:hover .issue__text,
.prog__button {
  display: block;
}
.issue__text:before {
  content: "";
  position: absolute;
  left: 50%;
  margin: -8px 0 0 -5px;
  border: 5px solid transparent;
  border-bottom: 5px solid #000;
  border-top: 0;
}
.hsupport {
  padding: 0;
}
.hsupport__link {
  font-size: 1.6em;
}
.prog {
  margin: 0 0 3px 3px;
  padding: 1rem;
  background-color: #f3f3f3;
}
.gal__item,
.subgal__item {
  background: center/cover no-repeat;
}
.prog__info {
  margin-bottom: auto;
}
.prog__button {
  margin-top: 0;
}
.prog__title {
  font-size: 1.4em;
  margin-top: 5px;
}
.prog__city {
  font-size: 1.2em;
  color: #777;
}
.progs {
  margin: 3rem 0 3rem -3px;
}
.block-item {
  font-size: 1.2em;
  margin-top: 0.6em;
}
.consult__users,
.user {
  margin-top: 1rem;
}
.block-item_small {
  font-size: 1em;
}
.consult {
  font-size: 1.2em;
}
.user__img {
  border-radius: 50%;
  margin-bottom: 0.5em;
}
.gal {
  margin-top: 3rem;
}
.gal__item {
  width: 100%;
  padding-top: 65%;
}
.subgal {
  margin: 5px 0 3rem;
}
.subgal__item {
  width: 125px;
  height: 90px;
  border: 3px solid #fff;
}
.filter__block,
.program {
  background-color: #f3f3f3;
}
.subgal__item.is-nav-selected {
  border: 3px solid #ff4e00;
}
.stars {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  color: #ffba00;
}
.group__price,
.rating__all {
  color: #777;
}
.stars_0:before {
  content: "\e809\e809\e809\e809\e809";
}
.stars_1:before {
  content: "\f123\e809\e809\e809\e809";
}
.stars_2:before {
  content: "\e808\e809\e809\e809\e809";
}
.stars_3:before {
  content: "\e808\f123\e809\e809\e809";
}
.stars_4:before {
  content: "\e808\e808\e809\e809\e809";
}
.stars_5:before {
  content: "\e808\e808\f123\e809\e809";
}
.stars_6:before {
  content: "\e808\e808\e808\e809\e809";
}
.stars_7:before {
  content: "\e808\e808\e808\f123\e809";
}
.stars_8:before {
  content: "\e808\e808\e808\e808\e809";
}
.stars_9:before {
  content: "\e808\e808\e808\e808\f123";
}
.stars_10:before {
  content: "\e808\e808\e808\e808\e808";
}
.rating__stars {
  margin-right: 0.5em;
}
.group {
  text-align: center;
  width: 240px;
  max-width: calc(47vw - 1rem);
}
.group__img-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 240px;
  max-height: calc(47vw - 1rem);
  margin-bottom: 0.7em;
}
.card__base,
.group__img-container,
.groups {
  display: -webkit-box;
  display: -ms-flexbox;
}
.group__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-height: 100%;
}
.group__name {
  margin: 0;
  font-size: 1.1em;
}
.groups {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: -1rem 0 1rem -1rem;
}
.groups__item {
  margin: 1rem 0 1rem 1rem;
}
.other-groups {
  text-align: center;
  font-size: 1.14em;
}
.other-groups__item {
  display: block;
  margin-bottom: 10px;
}
.cinfo,
.cinfo__item {
  padding-top: 5px;
}
.cinfo__more {
  color: #337ab7;
}
.cinfo__title {
  margin-bottom: 0.3em;
}
.cinfo__icons {
  position: relative;
  padding-left: 1.7rem;
}
.cinfo__icon {
  position: absolute;
  left: 0;
}
.card {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  padding: 1.1rem 1rem;
}
.card_mark {
  color: #ffba00;
  border: 1px solid #333;
}
.card__base {
  display: flex;
  -webkit-box-align: flex-star;
  -ms-flex-align: flex-star;
  align-items: flex-star;
}
.card__img,
.card__img-container {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.card__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(45vw - 3rem);
  max-width: 175px;
  height: calc(45vw - 3rem);
  margin-right: 1rem;
  max-height: 175px;
}
.card__img {
  max-height: 100%;
}
.card__name {
  display: inline;
  font-size: 24px;
}
.card__city {
  margin-top: 0.5em;
  font-size: 16px;
  color: #777;
}
.card__button {
  display: block;
  margin: 0;
}
.catalog__item {
  margin-bottom: 1.5rem;
}
.program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 3px;
  padding: 1rem;
}
.program:first-of-type {
  border-top: 4px solid #d2d2d2;
}
.program__info {
  width: 210px;
  max-width: 50vw;
}
.program__time {
  color: #777;
  display: inline-block;
  margin-right: 10px;
}
.program__label {
  color: #337ab7;
}
.program__label_hide {
  display: none;
}
.program__button {
  margin-bottom: 0;
  width: 100%;
}
.program__description {
  display: none;
  width: 100%;
  padding-top: 1rem;
  -webkit-animation: show 0.3s;
  animation: show 0.3s;
}
.program p {
  margin: 0;
}
input:checked + .program .program__label_hide {
  display: inline;
}
input:checked + .program .program__description {
  display: block;
}
.programs {
  margin-bottom: 1rem;
}
.info-list {
  position: relative;
  border-top: 1px solid #eee;
  padding: 1rem 0 0 1.6rem;
  color: #777;
}
.info-list li:before {
  content: "\e80a";
  position: absolute;
  left: 0;
}
.filter {
  display: none;
  width: auto;
  margin: 3rem 0;
  font-size: 0.8em;
}
.filter__block {
  padding: 1rem 1.5rem 0.5rem;
  margin-bottom: 10px;
}
.filter__block_submit {
  padding: 0 1.5rem;
  background-color: #fff;
}
.filter__title {
  font-size: 1.3em;
}
.filter__subtitle {
  margin: 15px 0 10px;
  font-size: 1.3em;
}
.filter__list {
  margin: 0;
  padding: 0;
}
.filter__select {
  margin-bottom: 1rem;
}
.filter__program + i {
  float: left;
  margin-bottom: 10px;
}
.showfilter {
  display: block;
  margin: 3rem 0;
}
input:checked + .showfilter {
  display: none;
}
.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 660px;
  margin: 3rem auto 0;
}
.search__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: inline-block;
  border: 1px solid #eee;
  padding: 14px 0.7em 13px;
  font: 400 16px Arial;
}
.search__button {
  min-width: 0;
  margin: 0;
  font-size: 0;
}
.search__button:disabled {
  background-color: #b33700;
  color: gray;
  cursor: progress;
}
.search__button:disabled:hover {
  background-color: #b33700;
  color: gray;
  cursor: progress;
}
.search__button:before {
  content: "\e80b";
  font-family: fontello;
  font-size: 16px;
  display: block;
  padding: 15.8px;
}
.search-list,
.search-list__item {
  margin: 0;
  padding: 0;
}
.search-list {
  -webkit-transition: z-index 0s 0.3s, opacity 0s 0.3s;
  transition: z-index 0s 0.3s, opacity 0s 0.3s;
  position: absolute;
  z-index: -2;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #fff;
  font: 400 16px Arial;
  border: 1px solid #777;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.search-list_notempty:focus,
.search__input:focus + .search-list_notempty {
  z-index: 2;
  opacity: 1;
}
.search-list:not(:hover) .search-list__item_select,
.search-list__item:hover {
  color: #fff;
  background-color: #777;
}
.search-list__link {
  display: block;
  padding: 0.5em 1em;
  color: currentColor;
}
.search-list__link:hover {
  color: currentColor;
  text-decoration: none;
}
@media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
  tr:hover {
    background-color: #f3f3f3;
  }
  .button:hover {
    color: #fff;
    background-color: #b33700;
  }
  .button_two:hover {
    background-color: #769aa6;
  }
  .form__input:hover {
    background-color: #f3f3f3;
  }
  main a:focus,
  main a:hover {
    color: #23527c;
  }
  .fmenu__link:hover {
    color: #23527c;
    text-decoration: underline;
  }
  .soc:hover {
    opacity: 1;
  }
  .group:hover {
    text-decoration: none;
  }
  .program__label:hover {
    color: #23527c;
    text-decoration: underline;
  }
}
@media (min-width: 479px) {
  blockquote {
    padding-left: 1.5rem;
  }
  .h1,
  h1 {
    font-size: 2.2em;
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.9em;
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.6em;
  }
  .form__item,
  .form__item-submit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form__item-submit {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .form__assent {
    margin-right: 10px;
  }
  .form {
    max-width: 600px;
  }
  .form__label {
    text-align: right;
    width: 150px;
    margin-right: 20px;
  }
  .form__item {
    max-width: 450px;
  }
  .iaddress-list {
    left: 120px;
  }
  .modal__container {
    border-radius: 5px;
  }
  .modal__form {
    padding-bottom: 0;
  }
  .prog,
  .progs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .prog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    max-width: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .progs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .group__name {
    font-size: 1.3em;
  }
  .filter {
    max-width: none;
  }
  .search__button {
    font-size: 15px;
  }
  .search__button:before {
    display: none;
  }
}
@media (min-width: 808px) {
  .aside,
  .card__img-container {
    float: left;
  }
  .aside {
    width: 300px;
    padding-right: 2rem;
  }
  .pagetitle__subtext {
    font-size: 1.4rem;
  }
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .col__item {
    width: 50%;
    margin-bottom: 0;
  }
  .form__text {
    display: block;
  }
  .modal {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .modal__close {
    position: absolute;
    top: -25px;
    right: -25px;
    color: #fff;
    font-size: 36px;
  }
  .modal__back {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .fmenu {
    margin: 0;
    width: auto;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .hvideo:before {
    display: none;
  }
  .hvideo__video-block {
    display: block;
  }
  .consult__users,
  .hsupport,
  .infobl_col {
    display: flex;
  }
  .hvideo__video {
    opacity: 1;
  }
  .infobl__item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 300px;
    padding-right: 1rem;
  }
  .infobl__item:last-child {
    padding-right: 0;
  }
  .cinfo__item:nth-child(2n-1),
  .user {
    padding-right: 1rem;
  }
  .hsupport {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .hsupport__button {
    margin: 0.5em 0;
  }
  .prog {
    width: 30%;
    max-width: 33%;
  }
  .block-item {
    font-size: 1.4em;
  }
  .block-item_small {
    font-size: 1.2em;
  }
  .user {
    width: 50%;
  }
  .other-groups {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
  }
  .other-groups__item {
    width: 33%;
    margin-bottom: 0.35em;
  }
  .cinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 0;
  }
  .cinfo__item {
    width: 50%;
  }
  .card {
    padding-bottom: 0;
  }
  .card__base {
    display: block;
  }
  .card__city {
    display: inline-block;
    margin-left: 5px;
  }
  .card__button {
    margin-bottom: 1.1rem;
  }
  .program__info {
    width: 370px;
  }
  .program__button {
    width: auto;
    margin: 0;
  }
  .program__price {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .filter {
    display: block;
  }
  .showfilter {
    display: none;
  }
}
@media (min-width: 1040px) {
  .menu__submenu .menu__item {
    position: relative;
  }
  .menu__item:hover > .menu__submenu {
    display: block;
  }
  .menu__button {
    display: none;
  }
  .menu__submenu {
    position: absolute;
    z-index: 10;
  }
  .menu__submenu .menu__submenu {
    top: 0;
    left: 100%;
  }
  .menu__link_sub:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .menu__item_text {
    width: 270px;
    white-space: initial;
  }
  .nav {
    position: static;
    background-color: #fff;
    right: 0;
  }
  .nav_scroll {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
  }
  .nav_scroll_fixed {
    position: fixed;
  }
  .nav_scroll_fixed + * {
    margin-top: 47px;
  }
  .nav_show {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .nav_show_hide {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .nav__menu {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: static;
    margin: 0 -1rem;
    padding: 0;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
    overflow: visible;
  }
  .burger {
    display: none;
  }
}
@media (min-width: 1040px) and (hover),
  (min-width: 1040px) and (min-width: 0\0),
  (min-width: 1040px) and (min--moz-device-pixel-ratio: 0) {
  .nav_show_hide:hover {
    -webkit-transform: none;
    transform: none;
  }
}
@media (max-width: 1039px) {
  input:checked ~ .menu__submenu,
  input:checked ~ .nav__menu {
    display: block;
  }
}
@media (max-width: 807px) {
  input:checked + .showfilter + .filter {
    display: block;
  }
  .filter .button {
    width: 100%;
  }
}
@media (max-width: 478px) {
  .form_no-success .form__main,
  .form_success .form__main {
    display: none;
  }
  .form_no-success .form__message_error,
  .form_success .form__message_success {
    position: static;
  }
}
@media (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (pointer: coarse) {
  .breadcrumbs::-webkit-scrollbar,
  .table::-webkit-scrollbar {
    display: none;
  }
}
